[submodule "ivp"]
	path = ivp
	url = https://github.com/dllfun/source-physics.git
	branch = master
[submodule "lib"]
	path = lib
	url = https://github.com/dllfun/source-engine-libs.git
	branch = master
[submodule "thirdparty"]
	path = thirdparty
	url = https://github.com/dllfun/source-thirdparty.git
	branch = master
