[submodule "lib"]
	path = lib
	url = https://github.com/dllfun/source-engine-libs.git
[submodule "thirdparty"]
	path = thirdparty
	url = https://github.com/dllfun/source-thirdparty.git
[submodule "ivp"]
	path = ivp
	url = https://github.com/dllfun/source-physics.git
